body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(75, 78, 77);
    line-height: 1.5;
    color: white;
}

.dark-bg {
    background-color:rgb(43, 64, 64);
    padding: 0 10px;
}

.wrapper {
    width: 80%;
    margin: auto;
}

main img {
    max-width: 150px;
    height: auto;
    float: left;
    margin: 0 10px 10px 0;
}

dl {
    padding: 10px 0px;
    margin: 0;
}

dt {
    font-weight: bold;
    font-size: 1.15rem;
}

dd {
    margin-left: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}